.App {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background: #13131b;
}

main .planet-model{
  flex-basis: 60%;
}
main .planet-details{
  order: 1;
  flex-basis: 40%;
}
