@font-face {
  font-family: 'Nasalization';
  src: local('Nasalization'), url(./fonts/nasalization-rg.ttf) format('truetype');
}

.news-container {
  margin: 5% 15% 5% 15%;
  font-family: 'Nasalization', sans-serif;
}

.news {
  background-color: #13131b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 4px #86c232;
  border-radius: 15px;
  color: floralwhite;
  padding: 4%;
  margin-bottom: 5%;
  opacity: 75%;
}

.news:hover {
  opacity: 100%;
  box-shadow: 5px 10px 5px #61892f;
}

.news-content {
  display: flex;
  flex-direction: column;
}

.news-image {
  border-radius: 5px;
  margin-left: 2%;
  max-width: 25%;
  max-height: 250px;
  flex-basis: 25%;
}