h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  .table-header {
    background-color: #95A5A6;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
}